body {
    font-family: "rokkitt", serif;
    font-style: normal;
    background: #863D08;
    margin: 0;
}

main, footer {
    padding: 0 1rem;
}
h1, h2, h3 {
    font-variant: small-caps;
}

.sida {
    background: #FFE7D5;
    color: #000;
}
/* Heimasida */
.heim {
    font-weight: 700;
    color: #FFE7D5;
    text-align: center;
    font-size: 4em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.col-1 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}
.col-2 {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 3em;
}
.col-1 h2, .col-2 h2 {
    font-size: 2.5em;
}
.col-1 p, .col-2 p {
    font-size: 1.3em;
}
.col-1 img, .col-2 img {
    max-width: 300px;
    border: 2px solid #000;
    border-radius: 8px;
}
iframe {
    max-width: 300px;
    max-height: 300px;
    padding-top: 1.5em;
}
.copy {
    text-align: center;
    color: #FFE7D5;
}
footer {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 2em;
    color: #FFE7D5;
    text-align: center;
}
 /* Valmynd */
#klikk {
    display: none;
}
.valmynd {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    max-height: 0px;
    overflow: hidden; 
    transition: 1s all;
}

.valmynd a{
    text-decoration: none;
    color: #863D08;
    padding: .5rem;
    font-weight: 700;
}

.valmynd a:hover, .footerval a:hover{
    color: #FFB25A
}

#klikk:checked ~ .valmynd {
    max-height: 200px;
}

label {
    color: #000;
}
.footerval {
    text-align: center;
    padding-top: 4em;
}
.footerval a {
    text-decoration: none;
    color: #FFE7D5;
    padding: .5rem;
    font-weight: 700;
    margin: .5em;
}
.footer-col {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

/* Logo */
.logoheim {
    max-width: 40%;
    padding-left: 7.5em;
    position: relative;
    bottom: 230px;
    animation: logo 2s ease-in-out;
}
.logo {
    max-width: 20%;
}
@keyframes logo {
    0% {transform: translateY(300px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

/* Matsedill */
.title {
    display: flex;
    flex-direction: column-reverse;
    font-weight: 700;
    color: #FFE7D5;
    font-size: 3em;
    padding: 0 1rem;
}

.col-3, .col-4, .col-5, .col-6 {
    display: grid;
    grid-template-columns: 1fr;
}
.col-3 img, .col-4 img, .col-5 img, .col-6 img {
    max-width: 300px;
    border-radius: 8px;
}
.sedill {
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
    font-weight: 700;
}

.title {
    animation: title 2s ease-in-out;
}

@keyframes title {
    0% {transform: translate(-600px);}
    100% {transform: translate(0px);}
}
.col-6 {
    padding-bottom: 7em;
}
 /* popup */
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    height: 700px;
    width: 600px;
    background: #CD5534;
    z-index: 1;
}
.lbl {
    display: block;
    width: 90px;
    height: 60px;
    background-color: #FFB25A;
    border: 1px solid #000;
    text-align: center;
    font-weight: 700;
    border-radius: 5%;
    float: right;
    position: relative;
    right: 20px;
    bottom: 90px;
}
.x-lbl {
    font-size: 1.5em;
    font-weight: bolder;
    display: block;
    padding: .5em;
    margin-left: 23em;
}
.x-lbl:hover, .lbl:hover {
    color: #fff;
}
#smellur {
    display: none;
}
#smellur:checked ~ .popup {
    display: block;
}
.lbl:hover {
    color: #FFE7D5;
}

/* Form */

.form-col {
    display: grid;
    grid-template-columns: 1fr;
}
.subject {
    display: grid;
    grid-template-columns: 1fr;
}
form div {
    padding: .5em;
}

 /* Um okkur */
.about h2{
    padding-top: 1em;
    font-size: 2em;
    font-weight: 700;
}
.about p, .kisi p {
    font-size: 1.3em;
}

/* Slides */
.slides{
    border: 2px dashed #863D08;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    margin-left: 5em;
    margin-bottom: 2em;
}

.slides div {
    width: 500px;
    height: 500px;
    animation: slide 10s ease-in-out infinite alternate;
}

@keyframes slide {
    0%, 30% {transform: translate(0px);}
    40%, 70% {transform: translate(-500px);}
    80%, 100% {transform: translate(-1000px);}
}

/* Accordion */
.titill{
    display: none;
}
.titill-lbl{
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    background: #CD5534;
    border-radius: 3px;
    color: #000000;
}

.titill + .titill-lbl + .tab{
    display: none;
}
.titill:checked + .titill-lbl + .tab{
    display: block;
}

.tab-text{
    background-color: #fff;
    padding: 8px 22px;
    margin: 0 0 1px 0;
}

.titill-lbl:hover {
    color: #fff;
}

.col-7 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
}
.accord {
    margin-bottom: 2em;
}

/* Kisur */
.kisi h2 {
    font-size: 2em;
    font-weight: 700;
}
.col-8, .col-9, .col-10, .col-11 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3em;
}
.col-8 img, .col-9 img, .col-10 img, .col-11 img {
    max-width: 300px;
    border-radius: 8px;
}
.col-8 {
    padding-top: 5em;
}
.col-11 {
    padding-bottom: 5em;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
        width: 100%;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        padding: .5rem;
        font-size: small;
    }
    table td {
        display: block;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
    }
    table td:last-child {
        border-bottom: 0;
    }
    td, th {
        border-color: #fff;
    }
    .kaffi {
        display: inline-block;
    }
    .slides {
        width: 200px;
        height: 200px;
    }
    .slides div {
        width: 200px;
        height: 200px;
    }
    .slides img {
        width: 200px;
        height: 200px;
    }
    @keyframes slide {
        0%, 30% {transform: translate(0px);}
        40%, 70% {transform: translate(-200px);}
        80%, 100% {transform: translate(-400px);}
    }
}

@media screen and (min-width: 768px) {
    header{
        max-height: 50px;
        padding: 2em;
    }
    main {
        padding: 0 8rem;
    }
    .heim {
        font-size: 5em;
        padding: 3em;
    }
    .col-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 8em;
    }
    .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 2em;
    }
    .stadur {
        position: relative;
        left: 100px;
    }
    .title {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .title h1 {
        position: relative;
        left: 200px;
    }
    .klikk {
        display: none;
    }
    .valmynd {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        max-height: 50px;
    }
    
    .logoheim{
        max-width: 25%;
        padding-left: 20.5em;
        position: relative;
        bottom: 300px;
    }
    .logo {
        max-width: 7%;
        position: relative;
        bottom: 65px;
        right: 15px;
    }
    .col-3, .col-4, .col-5, .col-6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .footer-col {
        grid-template-columns: 1fr 1fr;
        padding-top: 2em;
    }
    .about p {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .accord {
        padding-left: 5em;
        padding-right: 5em;
    }
    .col-8, .col-9, .col-10, .col-11 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 10em;
    }
    .col-8 img, .col-9 img, .col-10 img, .col-11 img {
        max-width: 400px;
    }
}
@media screen and (min-width: 960px) {
    .col-1 img, .col-2 img {
        position: relative;
        left: 50px;
        bottom: 70px;
        max-width: 450px;
    }
    .title h1 {
        position: relative;
        right: 400px;
    }
    .logoheim {
        max-width: 15%;
        padding-left: 39em;
        position: relative;
        bottom: 300px;
    }
    .logo {
        max-width: 7%;
        position: relative;
        bottom: 80px;
    }
    .col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .col-7 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 5em;
    }
}